<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex">
    <div class="p-2 bd-highlight">
      <a [routerLink]="['/bag/list']" class="navbar-brand">My Bag</a>
    </div>
    <div class="ml-auto p-2 bd-highlight">  
      <a class="navbar-brand">Total price: $ {{ truncate(total, 2) }} </a>
    </div>  
  </div>
</nav>

<div class="container list-group">
  <div *ngFor="let food of foods">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ food.title }}</h5>
        <button (click)="remove(food.id)" type="button" class="btn btn-danger">Remove</button>
      </div>
      
      <div class="d-flex bd-highlight">
        <div class="p-2  bd-highlight">
          <h6 class="mb-1">Amount:</h6>
        </div>
        <div class="p-2  bd-highlight">
          <button (click)="minusClick(food)" type="button" class="btn btn-danger">-</button>
        </div>
        <div class="p-2  bd-highlight">
          <input disabled [value]="food.amount" style="width:80px"type="number" min="0" class="form-control" id="basic-url"
            aria-describedby="basic-addon3">
        </div>
        <div class="p-2  bd-highlight">
            <button (click)="plusClick(food)" type="button" class="btn btn-primary">+</button>
          </div>
      </div>

      <p class="mb-1">Price: $ {{ food.price }} </p>
      <small>Cuisine: {{ food.cuisine }}</small>
    </a>
  </div>
    <br>
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <button (click)="openModal('modal')" type="button" class="btn btn-success btn-lg float-lg-right">Proceed to checkout</button>
      </div>
    </div>
  </div>

  <jw-modal id="modal" class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row justify-content-between collapse navbar-collapse font-weight-bold" id="navbarTogglerDemo01">
            <div class="col-6">
              <a [routerLink]="['/bag/list']" class="navbar-brand">My Bag</a>
            </div>
            <div class="">
              <a class="navbar-brand">Total price: $ {{ truncate(total, 2) }} </a>
            </div>
          </div>
        </nav>
    <ul class="list-group">
        <li *ngFor="let food of foods" class="list-group-item d-flex justify-content-between align-items-center">
          {{ food.title }}
          <span class="badge badge-primary badge-pill">{{ food.amount }}</span>
        </li>
    </ul>
    <br>
    <div class="d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <button (click)="closeModal('modal')" type="button" class="btn btn-danger">Cancel</button>
      </div>
      <div class="ml-auto p-2 bd-highlight">
        <a (click)="confirm('modal')" role="button" href="food/list" class="btn btn-success">Confirm</a>
      </div>
    </div>  
  </jw-modal>
  

