<fa-icon [icon]="all" size="lg"></fa-icon>
  <fa-icon [icon]="pizza" size="lg"></fa-icon>
  <fa-icon [icon]="cake" size="lg"></fa-icon>
  <fa-icon [icon]="hamburguer" size="lg"></fa-icon>
  <fa-icon [icon]="beverage" size="lg"></fa-icon>
  <fa-icon [icon]="salad" size="lg"></fa-icon>
  <fa-icon [icon]="chinese" size="lg"></fa-icon>
<div class="container list-group">
   
  <div *ngFor="let food of foods">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ food.title }}</h5>
        <button type="button" class="btn btn-danger">Add to bag </button>
      </div>
      <p class="mb-1">Price: $ {{ food.price }}</p>
      <small>Cuisine: {{ food.cuisine }} </small>
    </a>
  </div> 
</div>

