<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container collapse navbar-collapse" id="navbarTogglerDemo01">
    
    <form class="form-inline my-2 my-lg-0">
      <input (input)="getTitleInputValue($event)" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button (click)="getAllByTitle()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <a (click)="getAllPizza()" class="btn text-body" role="button">
      <fa-icon [icon]="pizza" size="lg"></fa-icon> 
      <p>Pizza</p>
      <span class="sr-only">(current)</span>
    </a>
    

    <a (click)="getAllCake()" class="btn text-body" role="button">
      <fa-icon [icon]="cake" size="lg"></fa-icon> 
      <p>Cake</p>
      <span class="sr-only">(current)</span>
    </a>
    
    <a (click)="getAllBurgers()" class="btn text-body" role="button">
      <fa-icon [icon]="hamburguer" size="lg"></fa-icon> 
      <p>Burgers</p>
      <span class="sr-only">(current)</span>
    </a>
    

    
    <a (click)="getAllBeverage()" class="btn text-body" role="button">
      <fa-icon [icon]="beverage" size="lg"></fa-icon> 
      <p>Beverage</p>
      <span class="sr-only">(current)</span>
    </a>
    
    <a (click)="getAllSalad()" class="btn text-body" role="button">
      <fa-icon [icon]="salad" size="lg"></fa-icon> 
      <p>Salad</p>
      <span class="sr-only">(current)</span>
    </a>
    
    <a (click)="getAllChinese()" class="btn text-body" role="button">
      <fa-icon [icon]="chinese" size="lg"></fa-icon>
      <p>Chinese</p> 
      <span class="sr-only">(current)</span>
    </a>
    
    <a (click)="getAll()" class="btn text-body" role="button">
      <fa-icon [icon]="all" size="lg"></fa-icon>
      <p>All</p>
      <span class="sr-only">(current)</span>
    </a>
    
  </div>
</nav>

<div class="container list-group">
  <div *ngFor="let food of foods">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ food.title }}</h5>
        <button (click)="addToBag(food)" type="button" class="btn btn-success">Add to bag </button>
      </div>
      <p class="mb-1">Price: $ {{ food.price }}</p>
      <small>Cuisine: {{ food.cuisine }} </small>
    </a>
  </div>
</div>