<div>   
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container d-flex">
      <div class="p-2 d-none d-lg-block">
        <a class="navbar-brand font-weight-bold" href="/food">{{ title }}</a>
      </div>
      <div class="p-2">    
          <a class="text-dark font-weight-bold nav-link" href="/food">Home <span class="sr-only">(current)</span></a>    
      </div>
      <div class="ml-auto p-2">
          <a [routerLink]="['/bag/list']" class="text-dark font-weight-bold nav-link">My bag <fa-icon [icon]="bag" size="lg"></fa-icon></a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>